name: Deploy EC2 Scheduler (Terraform)

on:
  workflow_dispatch:
    inputs:
      instance_id:
        description: "EC2 Instance ID (example: i-0123456789abcdef0)"
        required: true
        type: string

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      TF_IN_AUTOMATION: true
      TF_VAR_instance_id: ${{ github.event.inputs.instance_id }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::381492088562:role/global-cicd-github-role
          aws-region: ap-south-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
